<!DOCTYPE html>
<html>

<head>
  <title>Ezira</title>
  <meta charset="UTF-8">
  <meta name="description" content="Ezira is a decentralized social network based on the Ezira blockchain">
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="manifest" href="/manifest.json" /> {{{header}}} 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93979722-6"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-93979722-6');
	</script>
</head>

<body>
  <div id="app">{{{html}}}</div>
  {{{scripts}}}
</body>

</html>
